.bg {
    background: url(https://i.pinimg.com/originals/23/68/12/2368124616ff473bd4ccbadc73b6b546.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /* background-color: rgba(240, 72, 55, .75);
    background-blend-mode: screen; */
}

.card {
    margin-bottom: 20px;
}

.card-header {
    font-weight: 200;
}

#gems-title {
    width: 500px;
}

img {
    width: 100%;
}

.jumbotron {
    background: transparent;
    height: 300px;
}